<form [formGroup]="reserved" (ngSubmit)="formSubmit()" class="example-form">
  <div>
    <mat-form-field appearance="outline">
      <mat-label>hall</mat-label>
      <mat-select formControlName="hall">
        <mat-option *ngFor="let hall of halls" value="{{hall.value}}">{{hall.viewValue}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="outline">
      <mat-label>name</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
  </div>
  <mat-card class="inline-calendar-card">
    <mat-calendar formControlName="date" (selectedChange)="selected = $event"></mat-calendar>
  </mat-card>
  <button mat-raised-button type="submit">okay</button>
</form>
<div *ngFor="let reserved of records">
  <span>{{reserved.date}}</span>
  <span> / </span>
  <span>{{reserved.name}}</span>
  <span> / </span>
  <span>{{reserved.hall}}</span>
</div>
